@import url('../styles/common.css');


.header {
    color: var(--buttonColor);
    height: 8rem;
    // background-color: var(--navColor);
    // background-color:rgb(14, 14, 15);
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 54;
    background-color: rgba(0,0, 0, .8);
}
.header .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--maxWidth);
    padding: 0 2rem;
    margin: 0 auto;
}
.header .nav .logo-container {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.header .nav .logo-container .logo {
    text-transform: capitalize;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 2rem;
}

.header .nav .icons-container {
    padding: 0 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
}

.header .nav .icons-container .saved-icons .si-icon{
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
}
.header .nav .icons-container .search-form-icon .explore {
    position: relative;
}
.header .nav .icons-container .search-form-icon .explore:hover .search-form-container {
    opacity: 1;
    visibility: visible;
}
.header .nav .icons-container .search-form-icon .explore .icon-div {
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    text-transform: capitalize;
    cursor: pointer;
}
.header .nav .icons-container .search-form-icon .explore .icon-div span {
    color: white;
    font-size: 1.1rem;
}
.header .nav .icons-container .search-form-icon .explore .search-form-container {
    position: absolute;
    top: 100%;
    right: -30%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.header .nav .icons-container .search-form-icon .explore .search-form-container form{
    padding: 2rem;
    background-color: whitesmoke;
    color: black;
    width: 30rem;
    font-size: 1.3rem;
}
.header .nav .icons-container .search-form-icon .explore .search-form-container form button{
    all: unset;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    background-color: black;
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
}
.header .nav .icons-container .search-form-icon .explore .search-form-container form input{
    padding: 1rem ;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    margin: 2rem 0;
    font-size: 1.3rem;
    margin-top: 1rem;
    color: black;
}


.header .nav .icons-container a {
    text-decoration: none;
    font-size: 1rem;
}
.header .nav .icons-container svg {
    width: 2rem;
    color: white;
    fill: white;
    stroke:white;
    height: 2rem;
}
.header .nav .icons-container .login-icon {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    margin: 0 1rem;
    align-items: flex-start;
    padding: 0 0.4rem;
}
.header .nav .icons-container .login-icon span {
    color: white;
    font-size: 1.1rem;
}
.header .nav .menu-links ul li .categories-container .categories-title-div .categories-arrow.arrowClicked {
    transform: rotate(180deg);
}
.header .nav .menu-links ul li .categories-container .categories-content.showNavCategoriesContent {
    opacity: 1;
    visibility: visible;
}
#login-div-c:hover .login-container {
    opacity: 1;
    visibility: visible;
}
.header .nav .logo-container .logo.lightLogo {
    color: white;
}

.header .nav .menu-links.showMenuLinks {
    clip-path: inset(0 0 0 0);
}
@media screen and (max-width: 650px) {
    .header .nav .logo-container {
        z-index: 122;
   }
    
    .header .nav .logo-container .logo {
        font-size: 1.7rem;
   }
    .header .nav .menu-links {
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 70vw;
        display: grid;
        place-items: center;
        color: white;
        clip-path: inset(0 100% 0 0);
        transition: all 0.3s ease;
   }
    .header .nav .menu-links ul {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 2rem;
   }
    .header .nav .menu-links ul li a {
        color: white;
        opacity: 1;
   }
    .header .nav .menu-links ul li .categories-container .categories-title-div {
        justify-content: flex-start;
   }
    .header .nav .menu-links ul li .categories-container .categories-title-div .categories-title {
        color: white;
        opacity: 1;
        padding-left: 1rem;
   }
    .header .nav .menu-links ul li .categories-container .categories-title-div .categories-arrow {
        border-top: 7px solid #e2d6d6;
        margin-left: 1rem;
        margin-top: 0.2rem;
   }
    .header .nav .menu-links ul li .categories-container .categories-content {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding: 1rem;
        width: 100%;
        background-color: whitesmoke;
   }
    .header .nav .menu-links ul li .categories-container .categories-content::before {
        content: '';
        display: none;
   }
    .header .nav .menu-links ul li .categories-container a {
        color: white;
        border-bottom: 1px solid;
        width: 100%;
   }
    .header .nav .menu-links ul li .categories-container a p {
        display: block;
        padding: 0.7rem 0;
   }
    .header .nav .menu-links ul li .categories-container a .nav-img {
        display: none;
   }
}

body{
    background-color: whitesmoke;
}

// scss code starts here
.main-body{
    background-color: whitesmoke;
    color: black;
    // padding-top: 8rem;
}

.top-page-section{
    .tps-wrapper{
        .tps-container{

            .bg-video-wrp{
                height: 86vh;
                width: 100vw;
                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, .5)
                }
                .bgv{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    
                    video{
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                        background-position: 50% 50%;
                        z-index: -100;
                    }
                }
            }

          
            .display-middle{
                position: absolute;
                top: 8rem;
                height: 80vh;
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

                color: white;
                .dg{
                    h2{
                        text-transform: capitalize;
                        font-size: 7rem;
                        font-size: 5vw;
                    }
                    p{
                        width: 60%;
                        line-height: 160%;
                        margin: 0 auto;
                        font-size: 1.5rem;
                        padding: 1.8rem 0;
                    }
                }
            }
        }
    }
}

.section-ttl{
    font-size: 2.5rem;
    opacity: .9;
}

.about-us-section{
    max-width: 1000px;
    margin: 10rem auto;
    padding: 2rem;
    .aus-wrapper{
        .aus-wrp{
            .grid{
                display: grid;
                grid-template-columns: 40% 60%;
                div{

                    margin: 1rem;
                    font-size: 1.5rem;
                    padding: .2rem;
                }
                // .grid-ttl{
                //     font-size: 2.6rem;
                //     opacity: .9;
                // }
                p{
                    margin-bottom: 3rem;
                }
                .gh-link{
                    margin: unset;


                    a{
                        font-size: 1.4rem;
                        color: black;
                    }
                }
            }
        }
    }
}

.team-section{
    // background-color: black;
    .ts-wrapper{
        max-width: 1200px;
        margin: 3rem auto;

        h4{
            margin-bottom: 6rem;
            padding: 1rem;
        }
        .ts-wrp{
            .team-member{
                grid-template-columns: 1fr 1fr;
                display: grid;
                .tm-img{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    place-items: center;
                    background-color: black;
                    img{
                        width: 20rem;
                    }

                    .socials{
                        .name{
                            margin: 2rem 0;
                            font-size: 1.5rem;
                            color: white;
                            opacity: .8;
                        }
                        a{
                            text-decoration: none;
                        }
                        svg{
                            margin: 0 1rem;
                            opacity: .8;
                            width: 1.9rem;
                            color: white;
                        }
                    }
                }

                .tm-info{
                    // background-color: white;
                }
            }
        }
    }
}



.features-section{
    background-color: #121315;
    background-color: whitesmoke;
    .fs-wrapper{
        max-width: 1200px;
        color: black;
        width: 100vw;
        margin: 3rem auto;
        .fs-wrp{
            // border: 1px solid;
            display: grid;
            grid-template-columns: 1fr;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            .feature-div{
                padding: 9rem 2rem;
                width: 100%;

                .ft-img{
                    // border: 2px solid;
                    width: 36rem;
                    width: 100%;
                    height: 40rem;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .fd-ttl{
                    font-weight: 400;
                    font-size: 1.6rem;
                    opacity: .7;
                    padding: 2rem 0;
                }
            }
        }
    }
}

.how-to-use-section{
    margin: 8rem auto;
    max-width: 1300px;

    .htu-wrapper{
        .htu-wrp{
            .htu-ttl{
                h2{
                    padding: 3rem;
                }
            }

            .htu-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .hut-dets{
                    padding: 2rem;
                    margin: 2rem;
                    .step{
                        opacity: .6;
                        font-size: 2.4rem;
                        padding: unset;
                    }
                    .step-name{
                        padding: .5rem 0;
                        font-size: 2.8rem;
                        opacity: .8;
                        font-weight: 400;
                    }
                    p{
                        padding: 4rem 0;
                        font-size: 1.4rem;
                        line-height: 150%;

                    }
                }
            }
        }
    }
}


.footer-section{
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    .fs-wrapper{
        max-width: 1200px;
        padding: 1rem;
        margin: 1rem auto;
        .fs-wrp{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
              font-size: 1.4rem;  
                margin: 2rem 0;
                
                a{
                    color: black;
                    
                }
            }
        }
    }
}

@media screen and (max-width:1240px) {
    .features-section .fs-wrapper .fs-wrp{
        grid-template-columns: 1fr;

        .feature-div{
            text-align: center;
            display: flex;
            flex-direction: column;
            .ft-img{
                width: 100%;
                // margin: 2rem 0;

            }
        }
    }
    
}

@media screen and (max-width:1000px) {

    .features-section .fs-wrapper .fs-wrp{
        // grid-template-columns: 1fr 1fr;

        .feature-div{
            padding: 5rem 2rem;
        }
    }
    

    .how-to-use-section .htu-wrapper .htu-wrp .htu-grid{
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width:800px) {

    .top-page-section .tps-wrapper .tps-container .display-middle .dg p{
        width: 90%;
    }


    .about-us-section .aus-wrapper .aus-wrp .grid{
        grid-template-columns: 1fr;
        .grid-ttl{
            font-size: 2rem;
        }
    }

    .team-section .ts-wrapper .ts-wrp .team-member{
        grid-template-columns: 100% 0%;

        &:nth-child(2){

            grid-template-columns: 0% 100%;
        }

        div{
            margin: .8rem 0;
        }

        .tm-img:nth-child(2){
            display: flex;
            flex-direction: row-reverse;
        }
    }
    
}