@import url("../styles/common.css");
.login-main-section {
  margin: 0 auto;
  height: calc(100vh - 8rem);
  max-width: var(--maxWidth);
  display: grid;
  place-items: center;
  padding: 4rem 0;
}
.login-main-section .lms-wrapper .lg-title {
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  margin: rem 0;
}
.login-main-section .lms-wrapper .login-container {
  padding: 4rem 2.5rem;
  min-width: 38rem;
}
.login-main-section .lms-wrapper .login-container label {
  font-size: 1.2rem;
}
.login-main-section .lms-wrapper .login-container .password-input {
  position: relative;
}
.login-main-section .lms-wrapper .login-container .password-input svg {
  color: white;
  position: absolute;
  top: 20%;
  right: 2%;
  width: 2rem;
  cursor: pointer;
}
.login-main-section .lms-wrapper .login-container .password-input .password-closed-img {
  display: none;
}
.login-main-section .lms-wrapper .login-container input {
  background-color: transparent;
  padding: 1rem 0.4rem;
  border: 1px solid rgba(241, 221, 221, 0.375);
  font-weight: 400;
  font-size: 1.3rem;
  width: 100%;
  color: whitesmoke;
  margin-bottom: 2rem;
}
.login-main-section .lms-wrapper .login-container input:focus {
  border: 1px solid rgb(0, 0, 0);
}
.login-main-section .lms-wrapper .login-container .login-error {
  margin: 2rem 0;
  margin-bottom: 3rem;
  background-color: white;
  text-align: center;
  width: 100%;
  padding: 1.5rem 0;
}
.login-main-section .lms-wrapper .login-container .login-error span {
  padding: 2rem 0;
  font-size: 1.3rem;
  width: 100%;
  color: red;
  font-weight: 600;
}
.login-main-section .lms-wrapper .login-container .login-button-wrapper {
  margin-bottom: 1rem;
  display: flex;
}
.login-main-section .lms-wrapper .login-container .login-button-wrapper button {
  all: unset;
  padding: 0.8rem 2.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  background-color: whitesmoke;
  cursor: pointer;
  color: black;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
.login-main-section .lms-wrapper .login-container .login-button-wrapper button:hover {
  opacity: 0.8;
}
.login-main-section .lms-wrapper .login-container p {
  font-size: 1.2rem;
  font-weight: 500;
  color: whitesmoke;
}
.login-main-section .lms-wrapper .login-container p a {
  opacity: 1;
  color: whitesmoke;
  font-size: 1.2rem;
}

.addmodal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 23;
  background-color: rgba(0, 0, 0, 0.552);
  transition: all 0.4s ease;
}
.addmodal .adm-lg {
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  padding: 2rem;
  margin: 1rem;
}
.addmodal .adm-lg .adm-lg-container .content .close-modal-div {
  border-bottom: 1px solid gainsboro;
  margin-bottom: 0.5rem;
  text-align: right;
}
.addmodal .adm-lg .adm-lg-container .content .close-modal-div .close-modal {
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}
.addmodal .adm-lg .adm-lg-container .content h2 {
  padding: 1rem;
  padding-bottom: 0;
  font-weight: 600;
}
.addmodal .adm-lg .adm-lg-container .content p {
  font-weight: 500;
  font-size: 1.3rem;
  opacity: 0.8;
  padding: 1rem;
  margin: 3rem 0;
}
.addmodal .adm-lg .adm-lg-container .content .res-l {
  padding: 0 1rem;
  margin-bottom: 4rem;
}
.addmodal .adm-lg .adm-lg-container .content .res-l a {
  color: black;
  font-size: 1.3rem;
}
.addmodal .adm-lg .adm-lg-container .content .login-container {
  margin: 2rem 0;
  display: flex;
}
.addmodal .adm-lg .adm-lg-container .content .login-container .modal-btn {
  all: unset;
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: black;
  cursor: pointer;
  color: white;
}
.addmodal .adm-lg .adm-lg-container .content .login-container .modal-btn:hover {
  opacity: 0.8;
}

.addmodal.removeModal {
  opacity: 0;
  visibility: hidden;
}/*# sourceMappingURL=login.css.map */