@import url('../styles/common.css');



.login-main-section{
    margin:0 auto;
    height: calc(100vh - 8rem);
    max-width: var(--maxWidth);
    display: grid;
    place-items: center;
    padding: 4rem 0;
    // background-color: white;
    .lms-wrapper{
        .lg-title{
            font-weight: 600;
            font-size: 1.7rem;
            text-align: center;
            margin: rem 0;
        }
        .login-container{
            padding: 4rem 2.5rem;
            min-width: 38rem;
           
            label{
                font-size: 1.2rem;
            }

            .password-input{
                position: relative;
                
                svg{
                    color: white;
                    position: absolute;
                    top: 20%;
                    right: 2%;
                    width: 2rem;
                    cursor: pointer;
                }
                .password-open-img{
                    display: none;
                }
            }
            input{
                background-color: transparent;
                padding: 1rem .4rem;
                border: 1px solid rgba(241, 221, 221, 0.375);
                font-weight: 400;
                font-size: 1.3rem;
                width: 100%;
                color: whitesmoke;
                margin-bottom: 2rem;
                
                &:focus{
                    border: 1px solid rgb(0, 0, 0);
                }
            }


            .login-error{
                margin: 2rem 0;
                margin-bottom: 3rem;
                background-color: white;
                text-align: center;
                width: 100%;
                padding: 1.5rem 0;
                span{
                    padding: 2rem 0;
                    font-size: 1.3rem;
                    width: 100%;
                    color: red;
                    font-weight: 600;
                }
            }


            .login-button-wrapper{
                margin-bottom: 1rem;
                display: flex;
                button{
                    all: unset;
                    padding: .8rem 2.5rem;
                    font-size: 1.3rem;
                    // font-weight: bold;
                    text-transform: capitalize;
                    background-color: whitesmoke;
                    cursor: pointer;
                    color: black;
                    width:100%;
                    margin-bottom: 1rem;
                    text-align: center;
                    &:hover{
                        opacity: .8;
                    }
                }

                

            }

            p{
                font-size: 1.2rem;
                font-weight: 500;
                color: whitesmoke;
                // opacity: .8;

                a{
                    opacity: 1;
                    color: whitesmoke;
                    font-size: 1.2rem;
                }
            }
        }
    }
}


// STYLING FOR MODAL TO BE SHOWN TO USER WHO HASN'T VERIFIED THEIR EMAIL

.addmodal{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: 23;
    background-color: rgba(0, 0, 0, 0.552);
    // opacity: 0;
    // visibility: hidden;
    transition: all .4s ease;
    .adm-lg{
        border: 1px solid black;
        background-color: whitesmoke;
        color: black;
        padding: 2rem;
        margin: 1rem;
        .adm-lg-container{
            .content{
                .close-modal-div{
                    border-bottom: 1px solid gainsboro;
                    margin-bottom: 0.5rem;
                    text-align: right;
                    .close-modal{
                        font-weight: bolder;
                        font-size: 2rem;
                        cursor: pointer;

                    }
                    
                }
                h2{
                    padding: 1rem;
                    padding-bottom: 0;
                    font-weight: 600;
                    
                }
                p{
                    font-weight: 500;
                    font-size: 1.3rem;
                    opacity: 0.8;
                    padding: 1rem;
                    margin: 3rem 0;
                }

                .res-l{
                    padding: 0 1rem;
                    margin-bottom: 4rem;
                    a{
                        color: black;
                        font-size: 1.3rem;
                    }
                }
                .login-container{
                    margin: 2rem 0;
                    display: flex;

                    .modal-btn{
                        all: unset;
                        padding: .8rem 2.5rem;
                        font-size: 1.2rem;
                        font-weight: bold;
                        text-transform: capitalize;
                        background-color: black;
                        cursor: pointer;
                        color: white;

                        &:hover{
                            opacity:.8;
                        }
                    }
                }
            }
        }
    }
}


//class to remove modal
.addmodal.removeModal{
    opacity: 0;
    visibility: hidden;
}