@import url("../styles/common.css");
p {
  padding: 0.5rem 0;
}

.addmodal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 23;
  background-color: rgba(0, 0, 0, 0.552);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.addmodal .adm-lg {
  border: 1px solid black;
  background-color: whitesmoke;
  color: black;
  padding: 2rem;
  margin: 1rem;
}
.addmodal .adm-lg .adm-lg-container .content .close-modal-div {
  border-bottom: 1px solid gainsboro;
  margin-bottom: 0.5rem;
  text-align: right;
}
.addmodal .adm-lg .adm-lg-container .content .close-modal-div .close-modal {
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}
.addmodal .adm-lg .adm-lg-container .content h2 {
  font-weight: 600;
}
.addmodal .adm-lg .adm-lg-container .content p {
  font-weight: 500;
  font-size: 1.3rem;
  opacity: 0.8;
  padding-top: 1rem;
}
.addmodal .adm-lg .adm-lg-container .content .login-container {
  margin: 2rem 0;
  display: flex;
}
.addmodal .adm-lg .adm-lg-container .content .login-container .modal-btn {
  all: unset;
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: black;
  cursor: pointer;
  color: white;
}
.addmodal .adm-lg .adm-lg-container .content .login-container .modal-btn:hover {
  opacity: 0.8;
}

.addmodal.showModal {
  opacity: 1;
  visibility: visible;
}

.place-details-wrp {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

section {
  width: 100%;
  opacity: 0.9;
}
section .logo-image-div {
  margin: 0 auto;
  display: flex;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1400px;
}
section .logo-image-div img {
  width: 12rem;
}
section .pts-container .pts-content {
  display: flex;
  flex-direction: column-reverse;
  flex-direction: column;
}
section .pts-container .pts-content .place-details {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
}
section .pts-container .pts-content .place-details #place-image {
  width: 27rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
section .pts-container .pts-content .place-details .place-info {
  padding: 2rem;
}
section .pts-container .pts-content .place-details .place-info .place-name {
  padding: 0.9rem 0;
  font-size: 4rem;
  font-weight: 700;
}
section .pts-container .pts-content .place-details .place-info p {
  padding: 0.9rem 0;
  opacity: 0.96;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp {
  margin-top: 2rem;
  max-width: 600px;
  margin-left: -1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  flex-wrap: wrap;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn {
  margin: 1rem 0.8rem;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn a {
  color: white;
  text-decoration: none;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button {
  all: unset;
  cursor: pointer;
  border: 1px solid rgba(220, 220, 220, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1.5rem;
  border-radius: 1.7rem;
  color: #fff;
  background: #111;
  position: relative;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button svg {
  color: white;
  fill: white;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button span {
  padding: 0.4rem;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button::before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button:active {
  color: #000;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button:active::after {
  background: transparent;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button:hover::before {
  opacity: 1;
}
section .pts-container .pts-content .place-details .place-info .btns-wrp .topbtn button::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
section .pts-container .pts-content .place-details .place-info .place-tags-wrp {
  margin: 1rem 0;
}
section .pts-container .pts-content .place-details .place-info .place-tags-wrp .pt-wrapper span {
  color: white;
  opacity: 0.5;
  text-decoration: underline;
  padding-right: 1.8rem;
}
section .pts-container .pts-content .the-place-reviews {
  padding-top: 5rem;
  opacity: 0.8;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content h1 {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0.1rem;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div {
  border: 0.7px solid rgba(220, 220, 220, 0.2);
  border-radius: 0.8rem;
  padding-bottom: 2rem;
  padding: 1rem;
  margin: 2.8rem 0;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs {
  margin-top: 3rem;
  text-decoration: none;
  position: relative;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .dets-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .dets-container .reviewer-dets {
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  align-items: center;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .dets-container .reviewer-dets .reviewer-img {
  width: rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  align-self: flex-start;
  border-radius: 50%;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .dets-container .reviewer-dets .reviewer-name {
  font-size: 1.3rem;
  text-transform: capitalize;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .dets-container .revs-posted-dets .time-posted {
  font-style: italic;
  font-size: 1.1rem;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .dets-container .revs-posted-dets .given-rating {
  font-weight: 600;
  font-size: 1.8rem;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .dets-container .revs-posted-dets .given-rating span {
  font-size: 1.2rem;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .revs-details {
  padding: 1rem;
}
section .pts-container .pts-content .the-place-reviews .pt-container .pt-content .pt-reviews-div .place-revs .revs-details p {
  font-size: 1.3rem;
  line-height: 170%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (max-width: 900px) {
  .place-details-section {
    padding: unset;
    padding: 3rem 2rem;
    margin-bottom: 15rem;
  }
  .place-details-section .logo-image-div {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .place-details-section {
    padding-top: 7rem;
  }
  .place-details-section .pts-container .pts-content .place-details .place-info .place-name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 650px) {
  .place-details-section {
    padding: 3rem 1rem;
  }
  .place-details-section .pts-container .pts-content .place-details {
    align-items: unset;
    flex-direction: column;
  }
  .place-details-section .pts-container .pts-content .place-details #place-image {
    width: 100%;
    height: 29rem;
    margin-bottom: 1rem;
  }
  .place-details-section .pts-container .pts-content .place-details .place-info {
    padding: 2rem 0.4rem;
  }
  .place-details-section .pts-container .pts-content .place-details .place-info .place-name {
    font-size: 1.8rem;
  }
  .place-details-section .pts-container .pts-content .the-place-reviews .pt-container .pt-content h1 {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=place_details.css.map */