@import url("../styles/common.css");

.rev-f-wrapper{
    max-width: 500px;
    margin: 4rem auto;
    padding: 2rem;
}


input{
    width: 100%;
    font-size: 1.3rem;
    padding: 1.5rem;
    background-color: whitesmoke;
    border: 1px solid rgba(241, 221, 221, 0.375);
    color: black;
    border-radius: .2rem;
}


h2{
    color: white;
    font-size: 2.6rem;
    /* opacity: .9; */
    text-align: center;
    padding-bottom: 4rem;
}
.btn{
    display: grid;
    place-items: center;
    margin-top: 3rem;

}
button{
    all: unset;
    text-align: center;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 2rem;
    background-color: whitesmoke;
    cursor: pointer;
    color: black;
    /* width: ; */

}

.login-error{
    margin: 2rem 0;
    margin-bottom: 3rem;
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
}
.login-error span{
    padding: 2rem 0;
    font-size: 1.3rem;
    width: 100%;
    color: red;
    font-weight: 600;
}

.resend-p-info{
    opacity: .9;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

.password-input{
    position: relative;    
    margin-bottom: 2rem;
}

.password-input svg{
    color: white;
    position: absolute;
    top: 20%;
    right: 2%;
    width: 2rem;
    cursor: pointer;
}

.password-input .password-closed-img{
    display: none;
}