<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karibu Nami</title>
    <link rel="stylesheet" href="../static/styles/verify.css">
</head>
<body>

    <div class="rev-f-wrapper">
        <div class="rwrapper">
            <h2>Reset your account password.</h2>
            {% if not resetting_password %}
            <form action="/reset_password" method="post">
                <input name="email" type="email" placeholder="Enter your email address"><br>
                <div class="btn">
                    <button style="padding: 1.5rem 4.5rem;" type="submit">Shoot</button>

                </div>
            </form>
            
            {% else %}
            <form action="/reset_password_link" method="post">
                <input name="change-password" type="password" placeholder="Enter your new password"><br> <br><br><br>
                <input name="confirm-change-password" type="password" placeholder="Confirm password"><br><br>

                {% if error %}
                <div class="login-error">
                    <span>{{error}}</span>
                </div>
                {% endif %}
                <div class="btn">
                    <button style="padding: 1.5rem 4.5rem;" type="submit">Reset password</button>

                </div>
            </form>
            {% endif %}


        </div>
    </div>
    
</body>
</html>