<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/saved_places.css" />
    <title>Karibu Nami | Saved Places</title>
  </head>
  <body>
    <noscript>You must enable JavaScript in your browser to use this app!</noscript>

    <main>
      <div class="saved-places-root-div">
        <section class="saved-places-section">
          <!-- spotify attribution logo -->
          <div class="logo-image-div">
            <!-- <a href="/" class="logo" >Karibu Nami</a> -->
          </div>
          <div class="tts-container">
            <div class="tts-content">
              <div class="tts-header">
              {% if len_bookmarks == 0 %}
                <h3 class="no-saved-places">Hi <span style="text-transform: capitalize;" >{{username}}</span>. You have not saved any places :(</h3>
              {% else %}
                <h1 class="tts-h">
                  Hi <span  style="text-transform: capitalize;" class="user-username">{{username}}</span>. Here are the places you've saved:
                </h1>
                <div class="period"></div>
              </div>

              <div class="tt-section-div">
                <!-- DIV WITH EACH SAVED PLACE -->
                <!-- the href below will point to sth 
                            like /places/place_id -->
                          
                {% for place in bookmarks %}
                <a href="/place/{{place.google_api_place_id}}" class="saved-place">
                  <img
                    id="saved-place-image"
                    src={{place.photos[0]}}
                    alt="image of this place"
                  />
                  <div class="place-details">
                    <p class="place-name">{{place.place_name}}</p>
                    <p class="place-rating">{{place.rating}}/5</p>
                  </div>
                  <p class="date-saved">Date saved: 10/11/2023</p>
                </a>

                {% endfor %}


              </div>

              {% endif %}
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
