<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/saved_places.css" />
    <title>Karibu Nami | Saved Places</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="saved-places-root-div">
        <section class="saved-places-section">
          <!-- spotify attribution logo -->
          <div class="logo-image-div">
            <img src="" alt="karibu nami logo" />
          </div>
          <div class="tts-container">
            <div class="tts-content">
              <div class="tts-header">
                <h1 class="tts-h">
                  Hi <span class="user-username">{{username}}</span>. Here are the places you've saved:
                </h1>
                <h3 class="no-saved-places">
                  You have not saved any places :(
                </h3>
                <div class="period"></div>
              </div>

              <div class="tt-section-div">
                <!-- DIV WITH EACH SAVED PLACE -->
                <!-- the href below will point to sth 
                            like /places/place_name -->
                <a href="" class="saved-place">
                  <img
                    id="saved-place-image"
                    src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=AcJnMuFEO4Kg3IJ7mlklKauFHH2wGeuiZSVNsJML4pHDQXuZwQmrDgkXwje3qSQA9aylqPWFvLGfDtmELXDuqTqASpiAVnC4nL4jqIeYs2NHqPstH3MJV_h33D9n4mLDGfmQlfGQ8q7CUM8GnmwHNcpVU3ZcDRc6COLK0gx2qPUCl4NoytIk&key=AIzaSyA8SGadbzIoWAW2dMVpL1ktZOIZDMI4QOk"
                    alt="image of place  you've saved"
                  />
                  <div class="place-details">
                    <p class="place-name">Aga Khan Academy, Nairobi</p>
                    <p class="place-rating">3.9/5</p>
                  </div>
                  <p class="date-saved">Date saved: 10/11/2023</p>
                </a>

                <a href="" class="saved-place">
                  <img
                    id="saved-place-image"
                    src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=AcJnMuFEO4Kg3IJ7mlklKauFHH2wGeuiZSVNsJML4pHDQXuZwQmrDgkXwje3qSQA9aylqPWFvLGfDtmELXDuqTqASpiAVnC4nL4jqIeYs2NHqPstH3MJV_h33D9n4mLDGfmQlfGQ8q7CUM8GnmwHNcpVU3ZcDRc6COLK0gx2qPUCl4NoytIk&key=AIzaSyA8SGadbzIoWAW2dMVpL1ktZOIZDMI4QOk"
                    alt="image of place  you've saved"
                  />
                  <div class="place-details">
                    <p class="place-name">Aga Khan Academy, Nairobi</p>
                    <p class="place-rating">3.9/5</p>
                  </div>
                  <p class="date-saved">Date saved: 10/11/2023</p>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
