<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karibu Nami</title>
    <link rel="stylesheet" href="../static/styles/verify.css">
</head>
<body>

    <div class="rev-f-wrapper">
        <div class="rwrapper">
            <h2>Get a new verification link.</h2>
            <form action="/resend_link" method="post">
                <input name="email" type="email" placeholder="Enter your email address"><br>
                <div class="btn">
                    <button type="submit">Get verification link</button>

                </div>
            </form>
        </div>
    </div>
    
</body>
</html>